<div class="container">
<div class="user_profile">
<div class="photos">
    <ul class="photo"> 
   <li> <img src="<%= @user.photo %>"> </li>
   </ul>
</div>
<div class="names_posts">
    <ul class="name_post"> 
   <li class="list_name"> <%= @user.name %> </li>
   <li class="list_countpost">Number of post: <%= @user.postscounter %> </li>
   </ul>
</div>
</div>
<div class="bio">
    <ul class="bio_info width"> 
    <h3 class="title">Bio</h3>
   <li class="bio_content"> <%= @user.bio %> </li>
   </ul>
</div>
<div class="post">
<% @user.recentthreeposts.each do |post| %>
    <ul class="post_info width"> 
    <h3 class="title"><%= link_to post.title, user_post_path(@user, post) %> #<%= post.id%></h3>
   <li class="bio_content"> <%= post.text %> </li>
   <li class="list_countcomentlikes">Comments: <%= post.commentscounter %>, Likes: <%= post.likescounter %> </li>
   </ul>
<% end %>
</div>
<button class="allcoment"> <%= link_to 'See all Post', user_posts_path(@user) %> </button>
</div>
